*{
    margin: 0;  
    box-sizing: border-box;
}
.header{
    background-color: brown;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#index{
    background-size: cover;
    background-image: url(../../raze2.jpg);
    background-position:0px 80px;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    text-transform: uppercase;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;    
}

.nav-menu-i{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link:hover{
    background-color:orange ;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 20px;
    transition: 0.5s;
}

h1{
    font-weight: 600;
    font-size: 6vw;
    width: 97%;
    text-align: end;
    padding: 100px 30px;
}

#bot{ 
    width: 100px;
    height:100px;
    background-color: rgba(250, 128, 114, 0);
    display: flex;
    margin-top:15px;
    margin-left:75%;
}

button{
    padding-block: 25px;
    padding-inline: 50px;
    border-radius: 20px;
    border-color: blueviolet;
    background-color:rgb(255, 255, 255);
    font-size: 25px;
    transition: 0.5s;
    }

.piepag{
    margin-top: 170px;
    margin-left: 80%;
    color: black;
    width: max-content;
} 

/* --------------------------------- */
/* contacto */

#contacto{
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

/* galeria */

#galeria{
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

/*nosotros */

#nosotros{
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

/* clientes */

#clientes{
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding: 90px 20px 0px;
}