* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: brown;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

#index {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  /* max-width: 992px; */
  padding-inline: 80px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 20px;
  line-height: 80px;
  text-transform: uppercase;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-i {
  font-size: 20px;
  margin: 0 30px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link:hover {
  background-color: orange;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 20px;
  transition: 0.5s;
}

h1 {
  font-weight: 600;
  font-size: 5vw;
  padding-left: 60%;
  font-family: "Anton", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

#bot {
  width: 30px;
  height: 10px;
  background-color: rgba(250, 128, 114, 0);
  margin-left: 50%;
  align-items: center;
  padding-bottom: 5%;
}

button {
  padding-block: 25px;
  padding-inline: 50px;
  border-radius: 20px;
  border-color: blueviolet;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  transition: 0.5s;
}

footer {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  padding-right: 50px;
  justify-content: end;
  align-items: center;
}

#piepag {
  color: white;
}

/* --------------------------------- */
/* contacto */

#contacto {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

#container-video {
  width: 100%;
  height: 100%;
  position: relative;
}

#container-imagen {
  width: 100%;
  height: 100%;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 80px;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.533);
  z-index: 2;
  display: grid;
  place-items: center;
}

form {
  width: 650px;
  height: 500px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.163);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.823),
    rgba(52, 161, 250, 0.583)
  );
}

form input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
}

#ingresa {
  text-align: center;
  background-color: rgba(240, 248, 255, 0.548);
  border-radius: 10px;
  border: 2px solid;
  padding: 15px;
}

#boton_contac {
  padding-block: 10px;
  border-radius: 20px;
  border-color: rgb(46, 43, 226);
  background-color: rgba(253, 250, 250, 0.452);
  font-size: 25px;
  transition: 0.5s;
}

#boton_contac:hover {
  background-color: white;
}
/* galeria */

#galeria {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background: line;
}

#gale_gale {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding: 5px;
  background: linear-gradient(to bottom right, rgb(223, 126, 87), rgb(0, 0, 0));
}

.galeria_fotos:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: 0.7s;
}

/*nosotros */

#nosotros {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(to top right, rgb(240, 65, 65), yellow);
}

#items_nosotros{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
        "testi-1 testi-2 testi-4"
        "testi-1 testi-2 testi-4"
        "testi-1 testi-3 testi-4"
        "testi-1 testi-3 testi-4";
}
#testi-1{
    display: grid;
    grid-area: testi-1;
    padding: 100px;
    text-align: left;
}

#testi-2{
    display: grid;
    grid-area: testi-2;
}

#testi-3{
    display: grid;
    grid-area: testi-3;
}

#testi-4{
    display: grid;
    grid-area: testi-4;
    padding: 100px;
    text-align: left;
}

ul{
    list-style-image: url(./imagenes/prueba2-1.gif);
}

.descrip{
    width: 100%;
    height: 100%;
    text-align: center; 
    font-family: "Teko", sans-serif;
    font-size: 30px;
    font-weight: 8px;
    text-transform: uppercase;
    border: 3px solid rgba(255, 68, 0, 0.343);
}

/* clientes */

#clientes {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(to top right, hsl(219, 86%, 69%), #f7da4b);
}

#items_clientes{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
        "caja-1 caja-2 caja-3 caja-4"
        "caja-5 caja-6 caja-7 caja-8"
        "caja-5 caja-6 caja-7 caja-8"
        "caja-5 caja-6 caja-7 caja-8"
        "caja-5 caja-6 caja-7 caja-8";
}

.client-1:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: 0.7s;
}

#caja-1{
    display: grid;
    grid-area: caja-1;
    padding: 10px;
    text-align: left;
}

#caja-2{
    display: grid;
    grid-area: caja-2;
    padding: 10px;
    text-align: left;
}

#caja-3{
    display: grid;
    grid-area: caja-3;
    padding: 10px;
    text-align: left;
}

#caja-4{
    display: grid;
    grid-area: caja-4;
    padding: 10px;
    text-align: left;
}

#caja-5{
    display: grid;
    grid-area: caja-5;
    padding: 50px;
    text-align: left;
}

#caja-6{
    display: grid;
    grid-area: caja-6;
    padding: 50px;
    text-align: left;
}

#caja-7{
    display: grid;
    grid-area: caja-7;
    padding: 50px;
    text-align: left;
}

#caja-8{
    display: grid;
    grid-area: caja-8;
    padding: 50px;
    text-align: left;
}


.client{
    width: 100%;
    height: 100%;
    text-align: center; 
    font-family: "Press Start 2P", system-ui;
    font-size: 17px;
    text-transform: uppercase;
    border: 3px solid rgba(4, 1, 0, 0.343);
}

h2{
    text-align: center;
    text-transform: uppercase;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
